@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans: 'Lexend', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

@plugin "daisyui/theme" {
  name: 'light';

  --color-primary: #2563eb;

  --color-primary-content: #e8f1fd;

  --color-texto: #64748b;

  --color-texto-principal: #0f172a;
  --color-texto-secundario: #94a3b8;

  --radius-box: 1rem;
}
@plugin "daisyui/theme" {
  name: 'dark';

  --color-primary: #2563eb;

  --color-primary-content: #e8f1fd;
}

.glass-modal {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
